@font-face
{
    font-family: "DroidSansMono";
    src: url("../fonts/DroidSansMono.ttf") format("truetype");
}

html
{
    overflow: hidden;
}

body
{
    width: 550px;
    height: 360px;
    overflow: hidden;
    font-family: "DroidSansMono", monospace;
}

#wallabags
{
    margin-top: 58px;
    height: 250px;
    overflow-y: auto;
}

#wallabags .glyphicon
{
    padding:0 3px;
}

#wallabags .actions
{
    padding:8px 2px;
}

.navbar-toggle
{
    width: 48px;
}

.table tbody tr:first-child td
{
    border-top: 0px;
}

.nav
{
    cursor:pointer;
}

.navbar-btn
{
    margin-left:15px;
    margin-right:15px;
}

.flagged,
.unflagged:hover
{
    cursor:pointer;
    color: #666;
}

.unflagged,
.flagged:hover
{
    cursor:pointer;
    color: #eee;
}

.small-url {
    color: #333;
}

/* Tag cloud entries */

#tags-list {
    margin: 2px;
}

#tags-list .tag-entry {
    margin-bottom:7px;
    padding: 7px;
    display: inline-block;
    background-color: #ecf0f1;
    -webkit-border-radius: 15px;
}

#tags-list .tag-entry button {
    padding:0;
    background-color: #ecf0f1;
    border-width:0;
    -webkit-border-radius: 10px;
}

#tags-list .tag-entry button:hover {
    color: #c0392b;
}